<%- include("partials/header.ejs") %>
<div class="container">
<h2>Search Results:</h2>
<% if (searchResults.length > 0) { %>
    <ul>
        <% searchResults.forEach(post => { %>
            <h1><%=post.title%></h1>
        <h2><%=post.author%></h2>
        <p>
        <%=post.content.substring(0, 100) + " ..."%>
        <a href="/posts/<%=post.id%>">Read More</a>
        </p>
        <% }); %>
    </ul>
<% } else if (searchResults.length === 0 && searchTerm) { %>
    <p>No results found for "<%= searchTerm %>."</p>
<% } %></div>

<%- include("partials/footer.ejs") %>
